<h1>Hola, usted es removido de este boletín automática</h1>
<h1>Bonjour, vous vous êtes bien supprimé de cette newsletter automatique</h1>

<h2>Pour retourner sur le site internet <a href="{{ path('blog_homepage') }}">clickez-ici</a></h2>
<h2>Para volver a la pagina web <a href="{{ path('blog_homepage') }}">haga clic aqui</a></h2>