


{{ form_start(form_news,  {'action': path('blog_newsletter'), 'method': 'POST'}) }}
<div id="form-lien">
    {{ form_widget(form_news.lien, { 'attr': {'id': 'lien'} }) }}
</div>
<div id="form-envoyer">
    {{ form_widget(form_news.envoyer, { 'attr': {'class': 'btn btn-primary'} }) }}
</div>
{{ form_end(form_news) }}





