<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock%}</title>
    <link rel="stylesheet" href="{{ asset('bundles/blog/vendor/bootstrap/dist/css/bootstrap.min.css') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% block style %}{% endblock %}"/>
    <meta charset="utf-8"/>
</head>

<body {% block onload %}{% endblock %}>

{% block nav %}
{% endblock %}

{% block section %}
{% endblock %}

{% block h1 %}
{% endblock %}

{% block email %}
{% endblock %}

{% block Category %}
{% endblock %}

{% block map %}
{% endblock %}

{% block NewsLetterDel %}
{% endblock %}

{% block Formulaire %}
{% endblock %}

{% block add %}
{% endblock %}

{% block error %}
	{% block nav_error %}
	{% endblock %}
{% endblock %}



{% block container %}
    {% block row %}
    {% endblock %}
{% endblock %}

{% block form %}
{% endblock %}
{% block newsletterfooter %}
{% endblock %}

{% block footer %}
{% endblock %}

<script src="{{ asset('bundles/blog/vendor/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/blog/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{% block javascript %}{% endblock %}"></script>
<script src="{% block javascript_Admin_Index %}{% endblock %}"></script>
{% block javascript_map %}{% endblock %}
<script>
    // Set default picture if load error
    function defaultPicture(image)
    {
        image.onerror = "";
        image.src = "https://c1.dmstatic.com/792/i/fronts/pie/no_image_w_large.gif";
        image.width = "100%";
        return true;
    }
</script>
</body>
</html>
