form[name='blogbundle_article']{
    width: auto;
    margin: 0 auto;
    height: auto;
    padding: 20px;
    font-size: 1.2em;
	background: #eee;
}

select{
	width: 100%;
}

#categoryList{
	margin-bottom: 20px;
}

form
input[type='text'],
textarea{
	display: block;
    width: 95%;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

textarea{
    height: 100px;
}

label{
    font-weight: 900;
}

ul{
    list-style: none;
    background: #b22222;
    text-align: center;
    padding: 20px;
    width: 30%;
    margin: 0 auto;
}

ul li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

ul li a{
    color: white;
}

/* CSS en lien avec les inputs générés par Javascript */

.inputFileNoUpload{
    background: #b22222;
    color: white;
    width: 100%;
}

.inputFileUpload{
    background: green;
    color: white;
    width: 100%;
}

.keywordDiv{
	border: 1px solid #d8d8d8;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #f8f8f8;
	margin-bottom: 5px;
}

.keyWordLabel{
	display: block;
	margin: 0 auto;
    font-weight: bold;
    color: black;
	width: 95%;
}

.keyWordInput{
    width: 70%;
    margin-left: 10px;
    margin-right: 10px;
}

.keyWordHelp{
    width: 95%;
	margin: 0 auto;
}

#blogbundle_article_title{
	margin: 0;
	width: 100%;
}

@media only screen and (max-width: 680px){

    .inputFileNoUpload,
    .inputFileUpload{
        width: 100%;
    }

img, iframe {
    max-width: 100%;
    height: auto;
    display: block;
}