/*
1. BODY
2. NAVBAR
3. CONTAINER
4. FOOTER
*/

/*
1.BODY
 */

body{
    color: darkslategrey;
    font-family: 'Dancing Script', cursive;
    padding: 0;
    margin: 0;
}

/*
2. NAVBAR
*/

.navbar-custom{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    font-size: 2em;
}

.navbar-brand-custom{
    margin: 0;
    padding: 0;
}

.navbar-brand-custom img{
    height: 100%;
}

.container-fluid-custom{
    padding-left: 25px;
}

@media screen and (min-width: 1201px){

    .navbar-custom-1200{
        display: none;
    }
}

/* Menu avec dropdown si width <= 1200px */

@media screen and (max-width: 1200px){

    .navbar-custom-1201{
        display: none;
    }

    .navbar-custom-1200{
        text-align: right;
        background: black;
    }

    .btn-hamburger-custom{
        background: none;
        border: none;
    }

    .dropdown-menu li{
        font-size: 1.5em;
    }

    .glyphicon-menu-hamburger{
        color: white;
    }
}

@media screen and (max-width: 767px){
    .container-fluid-custom{
        padding-left: 10px;
    }
}

/*
3. IMAGE PRINCIPALE
*/

section{
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
}

section img{
    width: 100%;
}

section i{
    color: white;
    font-size: 2em;
    margin: 0;
    text-align: center;
}


h2{
    color: white;
    font-size: 3em;
    margin: 0;
    padding: 0;
}


.btn-custom{
    font-size: 1em;
    display: block;
    margin: 0 auto;
}


@media screen and (max-width: 800px){
    section{
        margin-top: 50px;
    }
}


h1{
    margin: 0;
    height: 200px;
    line-height:200px;
    background: white;
    font-size: 5em;
    text-align: center;
}

/*
3. CONTAINER
*/

.wrapper {
    width: 95%;
    margin: 1.5em auto;
}

.masonry {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    background: #fff;
    padding: 1.5em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.title, .footer {
    text-align: center;
}

.title {
    font-size: 1.75em;
    margin: .25em 0;
}

.title a {
    display: inline-block;
    padding: .75em 1.25em;
    color: #888;
    border: 2px solid #aaa;
    margin: .25em 1em 1em;
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.title {
    color: #666;
}

.title a:hover {
    color: #666;
    border-color: #888;
}



@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }



.article-caption{
    position: absolute;
    top: 0;
    left: 2.5%;
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: transparent;
}

.article-caption h3{
    font-size: 2.5em;
}

.article-caption p{
    width: 75%;
    font-size: 1.5em;
    text-align: justify;
}

.article-caption button {
    display: none;
    font-size: 1.5em;
}

.article-caption i{
    margin-top: 5px;
    font-size: 1.5em;
}

/* classe ajoutée à article-caption lorsque la souris passe sur l'article (mouseover) */

.article-caption-show{
    background: royalblue;
    color: white;
}

.article-caption-show a{
    text-decoration: none;
}

.article-caption-show button{
    display: block;
    color: white;
}

.newsletter{
    font-size: 2.5em;
    width: 100%;
    margin: 0;
}

.newsletter input[type='text']{
    font-size: .5em;
    text-align: center;
    font-family: sans-serif;
}

.newsletter input[type='submit']{
    font-size: .8em;
}


