{% extends 'layout.html.twig' %}

{% block title %} Le blog de Pierre & Raquel {% endblock %}

{% block nav %}
    <header>
        <nav class="navbar navbar-inverse navbar-custom navbar-custom-1201">
            <div class="container-fluid container-fluid-custom">

                <a class="navbar-brand navbar-brand-custom" href="#"><img src="{{ asset('bundles/images/mandala.png') }}" alt='logo'/></a>

                <ul class="nav navbar-nav">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Présentation du projet</a></li>
                    <li><a href="#">Remerciements</a></li>
                    <li><a href="#">Catégories</a></li>
                    <li><a href="#">Articles par date</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>

        <nav class="navbar navbar-custom navbar-custom-1200">
            <div class="container-fluid container-fluid-custom">

                <a class="navbar-brand navbar-brand-custom" href="#"><img src="{{ asset('bundles/images/mandala.png') }}" alt='logo'/></a>

                <div class="dropdown dropdown-custom">
                    <button class="btn btn-lg btn-hamburger-custom dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Accueil</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Présentation du projet</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Remerciements</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Catégories</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Articles par date</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

{% block section %}
{% endblock %}

{% block h1 %}
{% endblock %}

{% block row %}
{% endblock %}

{% block footer %}
    <footer>
        Tous droit réservés
    </footer>
{% endblock %}