{% extends 'layout.html.twig' %}

{% block title %}Administration{% endblock%}

{% block add %}
    <a href="{{ path('admin_add') }}"><button class="btn btn-lg btn-danger">Ajouter un article</button></a>
{% endblock %}

{% block modify %}
{% endblock %}

